@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --very-light-pink: #fffcf9;
  --black: #000;
  --brownish-grey: #616161;
  --warm-grey: #707070;
  --butterscotch: #fbb74a;
  --orangey-yellow: #faad18;
  --vibrant-green: #0c0;
  --red: #e00;
}
* {
  font-family: 'Righteous', 'GongGothicMedium', 'GowunDodum-Regular', sans-serif;
}
input {
  background: none;
  border: none;
  padding: 0;
}
input:focus {
  outline: none;
}
button {
  background: none;
  border: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
  }
}
